.cta {
  height: fit-content;
  gap: 2.5rem;
  padding: 1rem;
  border-radius: 20px 129px 20px 20px;
  opacity: 12;
  background: url("../../assets/Ellipse2.svg") no-repeat no-repeat 800px -30px,
    url("../../assets/Ellipse2.svg") no-repeat no-repeat 795px -20px,
    url("../../assets/Ellipse1.svg") no-repeat -80px 230px,
    url("../../assets/Ellipse1.svg") no-repeat -75px 235px,
    url("../../assets/Ellipse1.svg") no-repeat -70px 240px,
    url("../../assets/Ellipse1.svg") no-repeat -65px 245px,
    url("../../assets/Ellipse1.svg") no-repeat -60px 250px,
    url("../../assets/Ellipse1.svg") no-repeat -55px 255px,
    url("../../assets/Ellipse1.svg") no-repeat -50px 260px,
    url("../../assets/Ellipse1.svg") no-repeat -45px 265px,
    url("../../assets/Ellipse1.svg") no-repeat -40px 270px,
    url("../../assets/Ellipse1.svg") no-repeat -35px 275px,
    url("../../assets/Ellipse1.svg") no-repeat -30px 280px, #dfd7f9;
  flex-direction: column;
  justify-content: space-between;
}

.cta__content {
  position: relative;
}

.fly {
  position: absolute;
  top: 0%;
  right: 0;
}

.cta h3 {
  max-width: 800px;
  color: var(--text-color1);
  text-align: center;
  font-family: var(--font1);
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
}

.cta form {
  gap: 20px;
}

.cta input {
  border-style: none;
  border-radius: 10px;
  height: 30px;
  padding: 15px;
  background: #ffffff;
  width: 280px;
  height: 48px;
}
.cta button {
  cursor: pointer;
  border-style: none;
  height: 48px;
  padding: 20px;
  color: #ffffff;
  border-radius: 10px;
  background: var(
    --gradient,
    linear-gradient(180deg, #ff946d 0%, #ff7d68 100%)
  );
}
